<div class="row">
  <div class="col-md-3">
    <project-list [projects]="projects"
                  [selectedProject]="selectedProject"
                  (onSelectProject)="selectProject($event)"></project-list>

    <button [disabled]="isLocked" class="btn btn-default" (click)="clickAddProject()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      <span>Add project</span>
    </button>
  </div>

  <div class="col-md-9">
    <project-view *ngIf="!isEditMode"
                  (onClickEditProject)="clickEditProject($event)"
                  (onDeleteProject)="deleteProject($event)"
                  (onUpdateProject)="editProject($event)"
                  [project]="selectedProject"></project-view>
    <project-form *ngIf="isEditMode"
                  [project]="selectedProject"
                  (onCancelForm)="cancelForm($event)"
                  (submitForm)="submitForm($event)"></project-form>
  </div>
</div>
